node_modules/
frontend/node_modules/
sessions/
uploads/
data/
*.log
*.lock
package-lock.json
backend/static
backend/docs
backend/package-lock.json
frontend/package-lock.json
nginx/build
nginx/build/*
nginx/ssl
client/build
.idea
docker-compose.yml
.env
nohup.out
