<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>59</TotalTime><Application>LibreOffice/5.3.0.3$Windows_X86_64 LibreOffice_project/7074905676c47b82bbcfbea1aeefc84afe1c50e1</Application><Pages>2</Pages><Words>743</Words><Characters>6393</Characters><CharactersWithSpaces>7126</CharactersWithSpaces><Paragraphs>56</Paragraphs></Properties>