@font-face {
    font-family: Segoe;
    src: url(/9404.ttf);
}

@font-face {
    font-family: Segoe_bold;
    src: url(/10391.ttf);
}

body {
    overflow: scroll;
    background-color: #e9e9e9;
}

label {
    font-family: sans-serif;
}

.withoutTopBorder th {
    border-top: none;
}

.markdown_view * {
    margin: 0;
}

.form_elem_with_left_border {
    margin-top: 2rem;
    border-left: solid #8c8c8c;
    padding-left: 1rem;
}

.existingConfirmationsRow {
    cursor: pointer;
}

.existingConfirmationsRow tr:hover {
    background-color: #cfe3f6;
}


.hidden {
    display: none;
}

.greenText {
    color: green;
}

.editText {
    color: #ffc800;
}

.redText {
    color: red;
}

.form-control {
    margin-bottom: 0.5rem;
}

.custom_icon_button {
    font-size: 2rem;
}

.tag {
    font-size: small;
    border-radius: 9px;
    cursor: pointer;
    padding: 5px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.main_block {
    margin-top: 50px;
}

.admin_header_buttons_group {
    display: flex;
    justify-content: flex-end;
}
.achieveRow {
    cursor: pointer;
}

.Modal {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: max-content;
    position: relative;
}

.container {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (max-width:768px) {
    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width:768px) {
    .container {
        max-width:720px;
        min-width: 720px;
    }
}
@media (min-width:992px) {
    .container {
        max-width:960px;
        min-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width:1140px;
        min-width:1140px;
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 39, 39, 0.75);
    overflow: auto;
}

.adminAchievesTableContainer {
    /*box-shadow: 0 3px 5px rgba(0,0,0,0.2);*/
    background-color: white;
}


.commentContainer {
    margin: 0px !important;
    height: 100%;
    min-height: 91px;
    width: 100%;
}

.declined-row {
    background-color: #c3c3c3;
}

.edited-row {
    background-color: rgb(255, 215, 109);
}

.accepted-row {
    background-color: #91db8b;
}

.systematicsFailed td:first-of-type{
    border-left: 5px solid #ff0000;
}

.systematicsFailed td:last-of-type{
    border-right: 5px solid #ff0000;
}

.systematicsFailed td:nth-last-of-type(3)::after{
    color: red;
    font-size: small;
    content: ' систематика?';
}

.pendingChanges td:nth-last-of-type(2) {
    border-right: 10px solid #0f8eff;
}

.left_navbar li {
    list-style-type: none;
}

.left_navbar li a:focus {
    outline: none;
}

.left_navbar ul {
    margin-left: 0;
    padding-left: 0;
}

.custom_button {
    cursor: pointer;
    border:none;
    padding: 0;
    background-color: transparent;
    outline: none;
    width: auto;
}

.page_top {
    background-color: white;
    border-bottom: 1px solid #a5a5a5;
    align-items: center;
    font-size: 14px;
}

.logo_img {
    /* float: left; */
    /* height: 100%; */
    margin-left: 50px;
    margin-right: 10px;
    min-height: 60px;
    align-self: center;
}

@media (max-width: 768px) {
    .logo_img {
        margin-left: 0;
    }
}

.block {
    color: black;
    background-color: #f8f8f6;
    border: 1px solid #ededec;
    padding: 30px 20px 20px;
    margin-top: 0px;
    width: 100%;
}

.block_header {
    margin-top: 5px;
    margin-bottom: 5px;
    /* font-family: sans-serif; */
    color: #4a4a4a;
    display: flex;
    font-size: 14px;
    align-items: center;
}



.exit {
    text-align: right;
    /* margin-top: 25px;*/
    margin-right: 40px;
}

.general {
    background-color: white;
    padding: 20px;
}

.justify_center {
    justify-content: center;
}

.text_middle {
    vertical-align: middle;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eed000;
    border-style: dashed;
    background-color: #fafafa;
    color: #000000;
    outline: none;
    cursor: pointer;
    transition: border .24s ease-in-out;
}

.dropzone p {
    margin: 0;
}

.centered_ver {
    margin-top: auto;
    margin-bottom: auto;
}

.centered_hor {
    margin-left: auto;
    margin-right: auto;
}

/* левый навбар */
.left_navbar {
    width: 90%;
    padding: 10px 10px 0px 10px;
    background-color: white;
}

.element {
    font-size: 1.1rem;
    padding: 0.3rem;
}

.element_active {
    color: white;
    background-color: #0087d7;
}

.element a {
    color: #737373;
}

.element a:hover {
    text-decoration: none;
}

.ul_nav {
    padding-bottom: 5rem;
}

.a_element {
    margin-bottom: 200px;
}

.element_active a {
    color: white;
}

.leftBlock {
    padding: 0;
}

/*правый блок*/
.rightBlock {
    background-color: white;
}

.hr_blue {
    border-top: 1px solid #008cce;
}

.headline {
    font-size: 22px;
}

.profile {
    /*background-color: #f8f8f6;*/
    margin: 15px 0px 15px 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between
}

.logo_img {
    /* float: left; */
    /* height: 100%; */
    margin-left: 50px;
    margin-right: 10px;
    min-height: 60px;
    align-self: center;
}

@media (max-width: 768px) {
    .logo_img {
        margin-left: 0;
    }
}

.register_background {
    background-color: #e9e9e9;
}

.login {
    background: white;
    margin-top: 100px;
    padding: 50px;
}

.login_form {
    background-color: white;
}

.pic_lock {
    width: 50px;
    height: 50px;
}



.title_text {
    color: black;
    font-size: 1.2em;
    padding-bottom: 5px;
    border-bottom: 1px solid #2c86d3;
}

.header_logo_text {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #9a9a9a;
    font-size: 0.9rem;
}

h3 {
    font-size: 16px;
    color: white;
    background-color: #2887d4;
    padding: 10px;
    border-radius: 2px;
}

.achGroup {
    cursor: pointer
}

h4 {
    font-size: 14px;
    color: white;
    background-color: #5faae8;
    padding: 10px;
    border-radius: 2px;
}

block_1 {
    color: black;
    background-color: #f8f8f6;
    border: 1px solid #ededec;
    padding-top: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
}

block_2 {
    display: none;
    color: black;
    background-color: #f8f8f6;
    border: 1px solid #ededec;
    padding: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.info {
    color: #727272;
}

textarea::placeholder {
    font-weight: 350;
}

textarea::-moz-placeholder {
    font-weight: 350;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@media (max-width: 768px) {
    #check1,
    #check2 {
        width: 100%;
    }

    .selectors {
        /* margin-top: 20px; */
        width: 100%;
    }

    .area_text {
        width: 100%;
    }

    .button_send {
        width: 100%;
    }

    .logo_img {
        margin-left: 0;
    }

    @media screen and (max-width: 768px) {
        .p_header {
            font-size: x-small;
        }

        .hideInMobile {
            display: none
        }

        textarea::placeholder {
            font-size: small;
        }

        textarea::-moz-placeholder {
            font-size: small;
        }
    }

    @media screen and (max-width: 700px) {
        .p_header {
            display: none;
        }

        .hideInMobile {
            display: none
        }
    }
    @media screen and (min-width: 700px) {
        .p_header {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
        }
    }

    .exit {
        margin-right: 0px;
    }

    .left_navbar {
        width: 100%;
        display: none;
    }

    .ul_nav {
        padding-bottom: 1rem;
    }

    .page_top {
        padding-bottom: 0;
    }

    .headline {
        font-size: larger;
    }

}

@media screen and (max-width: 800px) {
    .main_block {
        margin-top: 1rem;

    }

    .table td {
        padding-left: 0.75rem;
        padding-right: 0.1rem;
        font-size: small;
    }

    .table th {
        padding-left: 0.75rem;
        padding-right: 0.1rem;
        font-size: x-small;
    }

    .achieveRow {
        font-size: small;
    }

    .modalContentWrapper {
        max-width: 80%;
    }

    .logo_img {
        min-height: 30px;
        width: 30px;
    }

    .page_top button {
        font-size: x-small;
    }
}

@media screen and (max-width: 500px) {
    .block_header {
        width: auto;
        flex: none;
        max-width: none;
        -webkit-flex: none;
    }

    .buttons_header {
        width: 80%;
        flex: none;
        max-width: none;
        -webkit-flex: none;

    }

    .admin_header_buttons_group {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .page_top button {
        padding: 5px;
    }

    .anket_button {
        font-size: x-small;
    }

    .profile div button {
        font-size: x-small;
    }

}


#floatingCirclesG {
    position: relative;
    width: 192px;
    height: 192px;
    margin: auto;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
    border-radius: 18px;
    -o-border-radius: 18px;
    -ms-border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 78px;
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
}

#frotateG_02 {
    left: 23px;
    top: 23px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#frotateG_03 {
    left: 78px;
    top: 0;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#frotateG_04 {
    right: 23px;
    top: 23px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#frotateG_05 {
    right: 0;
    top: 78px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#frotateG_06 {
    right: 23px;
    bottom: 23px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#frotateG_07 {
    left: 78px;
    bottom: 0;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#frotateG_08 {
    left: 23px;
    bottom: 23px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}


@keyframes f_fadeG {
    0% {
        background-color: rgba(0, 0, 0, 0.97);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: rgba(0, 0, 0, 0.97);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: rgba(0, 0, 0, 0.97);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: rgba(0, 0, 0, 0.97);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: rgba(0, 0, 0, 0.97);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}