.user-table__achieveRow {
    cursor: pointer;
}

.user-table__declined-row {
    background-color: #ffe6e4;
}

@media only screen and (max-device-width: 812px) {
    .user-table__declined-row {
        background-color: #fff1f0;
    }
}

.user-table__accepted-row {
    background-color: #e5f3e5;
}

.user-table__edited-row {
    background-color: #f3c66b;
}

.user-table__incorrect-row {
    background-color: #f38a00;
}