
body {
    overflow: scroll;
    background-color: #e9e9e9;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.page_top {
    background-color: white;
    border-bottom: 1px solid #a5a5a5;
    align-items: center;
    font-size: 14px;
}

.logo_img {
    /* float: left; */
    /* height: 100%; */
    margin-left: 50px;
    margin-right: 10px;
    min-height: 60px;
    align-self: center;
}

@media (max-width: 768px) {
    .logo_img {
        margin-left: 0;
    }
}

.block_header {
    margin-top: 5px;
    margin-bottom: 5px;
    /* font-family: sans-serif; */
    color: #4a4a4a;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.main_block {
    margin-top: 50px;
}

.exit {
    text-align: right;
    /* margin-top: 25px;*/
    margin-right: 40px;
}

/* левый навбар */
.left_navbar {
    width: 90%;
    padding: 10px 10px 0px 10px;
    background-color: white;
}

.element {
    font-size: 1.1rem;
    padding: 0.3rem;
}

.element_active {
    color: white;
    background-color: #0087d7;
}

.element a {
    color: #737373;
}

.element a:hover {
    text-decoration: none;
}

.ul_nav {
    padding-bottom: 5rem;
}

.a_element {
    margin-bottom: 200px;
}

.element_active a {
    color: white;
}

.leftBlock {
    padding: 0;
}

/*правый блок*/
.rightBlock {
    background-color: white;
}

.hr_blue {
    border-top: 1px solid #008cce;
}

.headline {
    margin-top: 1rem;
    font-size: 22px;
}

.profile {
    /*background-color: #f8f8f6;*/
    margin: 15px 0px 15px 0px;
    font-size: 16px;
    display: flex;
    justify-content: space-between
}

h3 {
    font-size: 16px;
    color: white;
    background-color: #2887d4;
    padding: 10px;
    border-radius: 2px;
}

h4 {
    font-size: 14px;
    color: white;
    background-color: #5faae8;
    padding: 10px;
    border-radius: 2px;
}

block_1 {
    display: none;
    color: black;
    background-color: #f8f8f6;
    border: 1px solid #ededec;
    padding-top: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
}

block_2 {
    display: none;
    color: black;
    background-color: #f8f8f6;
    border: 1px solid #ededec;
    padding: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.info {
    color: #727272;
}

@media (max-width: 768px) {
    #check1,
    #check2 {
        width: 100%;
    }

    .selectors {
        /* margin-top: 20px; */
        width: 100%;
    }

    .area_text {
        width: 100%;
    }

    .button_send {
        width: 100%;
    }

    .logo_img {
        margin-left: 0;
    }

    .p_header {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .exit {
        margin-right: 0px;
    }

    .left_navbar {
        width: 100%;
    }

    .ul_nav {
        padding-bottom: 1rem;
    }

    .page_top {
        padding-bottom: 0;
    }
}
